body, html { 
	font-family: 'Koulen', cursive;
  background: url(https://www.pandasecurity.com/es/mediacenter/src/uploads/2015/07/game-boy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	font-size: 50px;
	color: white;
}
/*hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}*/
.btn-1{
	padding: .5rem 1.5rem;
	border-radius: 80px;
}